<div class="container-fluid m-0 p-0 bg-light">
  <div class="mt-5 text-center">
    <h1 class="mt-5">THE ICONS</h1>
    <p>Timeless design, fine craftsmanship, and heritage traditions: This is iconic Ralph Lauren style</p>
    <a>SHOP THE COLECTION</a> <br>
    <img src="assets/image/img-colection/colection-content4-header-1.PNG" class="mt-5">
  </div>
  <div class="mt-5 text-center">
    <h1 class="mt-5">BLAZERS & DENIM</h1>
    <p>A classic combination that is always effortless, always elegant</p>
    <a routerLink="/productwomen">SHOP NOW</a> <br>
    <div class="container mt-5 d-flex text-center">
      <div class="text-center col-6 mt-5">
        <img src="assets/image/img-colection/colection-content4-1.PNG">
        <h3 class="mt-4">Parker Cashmere Jacket</h3>
        <a routerLink="/productwomen">SHOP NOW</a>
      </div>
      <div class="col-6 text-center">
        <img src="assets/image/img-colection/colection-content4-2.PNG">
        <br>
        <a class="mt-4" routerLink="/productwomen">SHOP NOW</a>
      </div>
    </div>
  </div>
  <div class="text-center mt-5">
    <img src="assets/image/img-colection/colection-content4-3.PNG">
    <h3 class="mt-5">Pauline Denim Dress</h3>
    <a routerLink="/productwomen">SHOP NOW</a>
  </div>
  <div class="mt-5 text-center">
    <img src="assets/image/img-colection/colection-content4-header-2.PNG">
  </div>
  <div class="mt-5 text-center container">
    <h1>THE FIELD JACKET</h1>
    <p>An everyday layer, crafted from structured twill, with workwear-inspired roots</p>
    <a routerLink="/productwomen">SHOP NOW</a>
    <div class="mt-5 text-center d-flex">
      <div class="col-6 mt-5">
        <img src="assets/image/img-colection/colection-content4-4.PNG" >
        <h4>SALLEN CALFSKIN RIDING BOOT</h4>
        <a routerLink="/productwomen">SHOP NOW</a>
      </div>
      <div class="col-6">
        <img src="assets/image/img-colection/colection-content4-5.PNG">
        <h4>CALFSKIN LARGE RL50 HANDBAG</h4>
        <a routerLink="/productwomen">SHOP NOW</a>
      </div>
    </div>
  </div>
  <div class="mt-5 text-center">
    <img src="assets/image/img-colection/colection-content4-header-3.PNG">
  </div>
  <div class="mt-5 text-center">
    <h1>CREAM & SUEDE</h1>
    <p>Rich fabrics in neutral hues strike a sophisticated balance between soft and structured</p>
    <a routerLink="/productwomen">SHOP NOW</a>
    <div class="text-center d-flex">
      <div class="mt-5 text-center col-4">
        <img src="assets/image/img-colection/colection-content4-6.PNG">
        <p class="mt-4">Cashmere Short-Sleeve Turtleneck</p>
      </div>
      <div class="mt-5 text-center col-4">
        <img src="assets/image/img-colection/colection-content4-7.PNG" class="mt-5">
        <p class="mt-4">Christiane Lamb-Suede Skirt</p>
      </div>
      <div class="mt-5 text-center col-4">
        <img src="assets/image/img-colection/colection-content4-8.PNG">
        <p class="mt-4">Calfskin Light Ricky 33</p>
      </div>
    </div>
  </div>
  <div class="mt-5 text-center">
    <img src="assets/image/img-colection/colection-content4-header-4.PNG">
  </div>
  <div class="mt-5 text-center container">
    <h1>THE PARKER JACKET</h1>
    <p>Designed with hacking pockets, a detail often found on traditional English riding attire, this American-made <br>
      style is crafted from sumptuous stretch wool crepe sourced from a century-old Italian mill</p>
    <a routerLink="/productwomen">SHOP NOW</a>
    <div class="mt-5 text-center d-flex">
      <div class="col-6">
        <img src="assets/image/img-colection/colection-content4-10.PNG">
        <h4 class="mt-4">Nikolas Merino Wool Jacket</h4>
        <a routerLink="/productwomen">SHOP NOW</a>
      </div>
      <div class="col-6 mt-5">
        <img src="assets/image/img-colection/colection-content4-9.PNG">
        <h4 class="mt-4">Calfskin Mini RL50 Handbag</h4>
        <a routerLink="/productwomen">SHOP NOW</a>
      </div>
    </div>
  </div>
</div>
