.title{
  margin-top: 10vh;
}
table{
  & tr{
    & td{
      width: 20% !important;
      text-align: center;
    }
  }
}
.table-cartItem{
  height: 60vh;
  overflow-y: scroll;
}
i:hover{
  opacity: 0.5;
}
::-webkit-scrollbar {
  width: 5px !important;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
