<footer class="text-center text-lg-start bg-dark text-light mt-3" style="background-color: #131317 !important;">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
    </div>
    <div>
      <a href="" class="me-4 text-reset ml-3">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="" class="me-4 text-reset ml-3">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
      <a href="" class="me-4 text-reset ml-3">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="" class="me-4 text-reset ml-3">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
    </div>
  </section>
  <section class="w-100">
    <div class="text-center text-md-start mt-5 w-75 m-auto">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>TH Clothing
          </h6>
          <p >
            <i>
              "Với 10 ngày kinh nghiệm,
              Chúng tôi hiểu những nhu cầu của khách hàng đối với 1 bộ quần áo đúng nghĩa dành cho người trưởng thành"
            </i>
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Sản Phẩm
          </h6>
          <p>
            <a href="../list-product/list-product.html" class="text-reset text-decoration-none">NEWS</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">COLECTION</a>
          </p>
          <p>
            <a href="../products-male/product-male.html" class="text-reset text-decoration-none">MEN</a>
          </p>
          <p>
            <a href="../products-female/product-female.html" class="text-reset text-decoration-none">WOMEN</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Liên Hệ
          </h6>
          <p>
            h2store@gmail.com
          </p>
          <p> + 094 222 2289</p>
          <p> + 094 222 1865</p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Địa chỉ
          </h6>
          <p>
            <a href="#!" class="text-reset text-decoration-none">
              297 Nguyễn Văn trỗi - Quận Phú Nhuận - TPHCM
            </a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">
              64-65 Võ Thị Sáu - Quận 3 - TPHCM
            </a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">
              654 Lũy Bán Bích - Quận Tân Binh - TPHCM
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold text-decoration-none" href="https://mdbootstrap.com/">THClothing.com</a>
  </div>
</footer>
