<div class="container-fluid w-100 m-0 p-0" style="background-color: #FBF1E9;">
  <header class="container-fluid mt-5">
    <div class="text-center w-100 h-100">
      <h1>SUMMER ESSENTIALS</h1>
      <p>Classic pieces in neutual hues are the foundation of summer elegance</p>
    </div>
  </header>
  <div class="text-center">
    <img src="assets/image/img-colection/colection-content1-header.PNG">
  </div>
  <div class="container mt-5 text-center">
    <h1 class="mt-5">CREAM AND WHITE</h1>
    <p>Worn together, these tonal shades are a refined way to weather the heat</p>
  </div>
  <div class="colection-slide1 d-flex mt-5">
    <div class="col-4 text-center mt-5">
      <img src="assets/image/img-colection/colection-content1-2.PNG" width="60%" class="mt-5">
      <p class="mt-4">Alton Belted Wool Gabardine Short</p>
    </div>
    <div class="col-4 text-center">
      <img src="assets/image/img-colection/colection-content1-1.PNG">
      <p class="mt-4">Lofty Cashmere V-Neck Sweater Vest</p>
    </div>
    <div class="col-4 text-center mt-5">
      <img src="assets/image/img-colection/colection-content1-3.PNG" width="60%" class="mt-5">
      <p class="mt-4">Carney Silk Crepe de Chine Pocket Shirt</p>
    </div>
  </div>
  <div class="text-center mt-5">
    <img src="assets/image/img-colection/colection-content1-header-2.PNG">
  </div>
  <div class="d-flex mt-5 container">
    <div class="col-6 text-center mt-5">
      <img src="assets/image/img-colection/colection-content1-5.PNG" width="90%">
      <a routerLink="/productwomen">
        <p class="mt-4">Ricky Sunglasses</p>
      </a>
    </div>
    <div class="col-6 text-center mt-5">
      <img src="assets/image/img-colection/colection-content1-6.PNG" width="90%">
      <a routerLink="/productwomen">
        <p class="mt-4">Parker Stretch Wool Jacket</p>
      </a>
    </div>
  </div>
  <div class="mt-5 text-center">
    <img src="assets/image/img-colection/colection-content1-header-3.PNG">
  </div>
  <div class="mt-5 text-center">
    <h1>ESSENTIAL ACCESSORIES</h1>
    <p>Iconic Ralph Lauren styles, impeccably crafted and updated for the season</p>
    <a routerLink="/productwomen">SHOP ACCESSORIES</a>
  </div>
  <div class="colection-slide2 d-flex mt-5">
    <div class="col-4 text-center mt-5">
      <img src="assets/image/img-colection/colection-content1-7.PNG" width="60%" class="mt-5">
      <a routerLink="/productwomen">
        <p class="mt-4">Shop Belts</p>
      </a>
    </div>
    <div class="col-4 text-center">
      <img src="assets/image/img-colection/colection-content1-8.PNG">
      <a routerLink="/productwomen">
        <p class="mt-4">Shop The RL50 Handbag</p>
      </a>
    </div>
    <div class="col-4 text-center mt-5">
      <img src="assets/image/img-colection/colection-content1-9.PNG" width="60%" class="mt-5">
      <a routerLink="productwomen">
        <p class="mt-4">Shop The Ricky Bag</p>
      </a>
    </div>
  </div>
  <div class="mt-5 text-center">
    <img src="assets/image/img-colection/colection-content1-header-4.PNG">
  </div>
</div>
