header{
  height: 30vh;
  & div{
    padding: 8vh;
    & h1{
      color: #6B5C4D;
      font-size: 4rem;
    }
    & p{
      font-size: 1.5rem;
      color: #9A5C4D;
    }
  }
}
p{
  color: #9A5C4D;
}
h1{
  color: #6B5C4D;
}
a{
  text-decoration: none;
  color: #9A5C4D;
}
