<div class="container-fluid">
  <div class="title d-flex">
    <h3 class="col-4" style="opacity: 0.5">01.Your bag</h3>
    <h3 class="col-4" style="opacity: 0.5">02.Shipping address</h3>
    <h3 class="col-4">03. Payment</h3>
  </div>
  <div class="mt-5">
    <h4>Credit/Debit card</h4>
    <input type ="radio" name="payment" class="mt-5"> Gift Card <br>
    <input type ="radio" name="payment"> Paypal <br>
    <input type ="radio" name="payment">  Visa, Mastercard, Amex <br>
    <input type = "radio" name="payment"> Payment on delivery
  </div>
</div>
