<div class="main container-fluid m-0 p-0">
  <div class="header w-100 m-0 p-0">
    <img src="assets/image/img-product/cover-img-men-1.png">
  </div>
  <div class="section w-100 d-flex">
    <div class="article-left w-25 ">
      <div class="option-products">
        <div>
          <h3 class="mt-5">SHOP BY TYPE</h3>
          <input type = "checkbox" class="mt-3"> Polo <br>
          <input type = "checkbox"> Polo <br>
          <input type = "checkbox"> Polo <br>
          <input type = "checkbox"> Polo <br>
        </div>
        <div>
          <h3>SHOP BY LENGTH</h3>
          <input type = "checkbox" class="mt-3"> Polo <br>
          <input type = "checkbox"> Polo <br>
          <input type = "checkbox"> Polo <br>
          <input type = "checkbox"> Polo <br>
        </div>
        <div>
          <h3>COLOR</h3>
          <input type = "checkbox" class="mt-3"> Black <br>
          <input type = "checkbox"> Blue <br>
          <input type = "checkbox"> Gold <br>
          <input type = "checkbox"> Green <br>
          <input type = "checkbox"> Pink <br>
          <input type = "checkbox"> Blue <br>
          <input type = "checkbox"> Red <br>
        </div>
        <div>
          <h3>SIZE</h3>
          <input type = "checkbox" class="mt-3"> S <br>
          <input type = "checkbox"> M <br>
          <input type = "checkbox"> L <br>
          <input type = "checkbox"> XL <br>
          <input type = "checkbox"> XXL <br>
        </div>
      </div>
    </div>
    <div class="article-right w-75 mt-5 d-inline">
      <div class="product w-25 mt-5" *ngFor="let item of product | paginate: {itemsPerPage: 8, currentPage: page}" style="float: left;">
        <a routerLink="/productmen/{{item.id}}" class="text-decoration-none text-dark" >
          <img src="{{item.img1}}" class="w-100" style="width: 90% !important">
          <h3>{{item.name}}</h3>
          <p>${{item.price}}</p>
        </a>
      </div>
      <pagination-controls (pageChange)="page = $event" ></pagination-controls>
    </div>
  </div>
</div>
