<div class="container-fluid p-0 m-0">
  <div class="mt-5 text-center">
    <h1>SUMMER 2021</h1>
    <p>It’s a season to be bold. Embrace optimism with classic silhouettes in vibrant hues</p>
    <a>SHOP THE COLLECTION</a>
  </div>
  <div class="text-center mt-5">
    <img src="assets/image/img-colection/colection-content2-header-1.PNG" class="mt-5">
  </div>
  <div class="container d-flex mt-5">
    <div class="col-6 text-center mt-5">
      <img src="assets/image/img-colection/colection-content2-1.PNG">
    </div>
    <div class="col-6 mt-5 text-center">
      <div>
        <h1>
          AN ELECTRIC <br>PALETTE
        </h1>
        <p class="mt-4">Reinvigorate your wardrobe with vibrant shades <br> of citrus and rich gemstone hues</p>
        <a class="m-4">SHOP SHIRT</a>
        <a class="m-4">SHOP PANT</a>
      </div>
      <img src="assets/image/img-colection/colection-content2-2.PNG" class="mt-5 mb-5"> <br>
      <a class="mt-5">SHOP SHOES</a>
    </div>
  </div>
  <div class="container d-flex mt-5">
    <div class="col-6 mt-5 text-center">
      <div>
        <h1>
          AN ELECTRIC <br>PALETTE
        </h1>
        <p class="mt-4">Reinvigorate your wardrobe with vibrant shades <br> of citrus and rich gemstone hues</p>
        <a class="m-4">SHOP SHIRT</a>
        <a class="m-4">SHOP PANT</a>
      </div>
      <img src="assets/image/img-colection/colection-content2-4.PNG" class="mt-5 mb-5"> <br>
      <a class="mt-5">SHOP SHOES</a>
    </div>
    <div class="col-6 text-center mt-5">
      <img src="assets/image/img-colection/colection-content2-3.PNG">
    </div>
  </div>
  <div class="mt-5 text-center">
    <img src="assets/image/img-colection/colection-content2-header-2.PNG">
  </div>
  <div class="mt-5 text-center">
    <h1>THE COCKTAIL DRESS</h1>
    <p class="mt-4">A timeless slip-dress silhouette, cut on the bias from Italian satin, <br> with an open back and halter neckline</p>
    <a class="mt-4">SHOP NOW</a>
  </div>
</div>
