.outer{
  background-image: url("../../../assets/image/img-home/cover-img-register.png");
  background-size: cover;
  height: 100vh;
}
i{
  font-size: 1.5rem;
}
span{
  margin-left: 10px;
  font-size: 1.5rem;
}
