<div class="container-fluid m-0 p-0">
  <div class="section1 mt-5">
    <div class="text-center">
      <img src="assets/image/img-colection/colection-content3-header-1.PNG">
    </div>
    <div class="mt-5 mb-5 text-center">
      <h1>FLORAL VISION</h1>
      <p class="mt-4">Vintage inspirations meet modern style</p>
    </div>
    <div class="mt-5 d-flex">
      <div class="col-3 text-center">
        <img src="assets/image/img-colection/colection-content3-1.PNG">
        <p class="mt-4">Kaela Floral Cady Skirt</p>
      </div>
      <div class="col-3 text-center mt-5">
        <img src="assets/image/img-colection/colection-content3-2.PNG">
        <p class="mt-4">Soloman Floral Silk Cady Jacket</p>
      </div>
      <div class="col-3 text-center">
        <img src="assets/image/img-colection/colection-content3-3.PNG">
        <p class="mt-4">Jaela Floral Jersey Day Dress</p>
      </div>
      <div class="col-3 text-center mt-5">
        <img src="assets/image/img-colection/colection-content3-4.PNG">
        <p class="mt-4">Floral Wool-Silk Cardigan Sweater</p>
      </div>
    </div>
    <div class="mt-5 text-center">
      <h3 class="mt-5">Kiernan Embellished Silk Cocktail Dress</h3>
      <img src="assets/image/img-colection/colection-content3-5.PNG" class="mt-4">
    </div>
    <div class="mt-5 text-center">
      <h1>A RICH MIX</h1>
      <p class="mt-4">Luscious hues of chocolate and cream for day or night</p>
    </div>
    <div class="container d-flex mt-5 text-center">
      <div class="col-6">
        <img src="assets/image/img-colection/colection-content3-6.PNG">
        <p class="mt-4">Stretch Silk Halter Sweater Day Dress</p>
      </div>
      <div class="col-6 mt-5">
        <img src="assets/image/img-colection/colection-content3-7.PNG">
        <p class="mt-4">Sequined Silk Crewneck Sweater</p>
      </div>
    </div>
    <div class="mt-5 mb-5 text-center">
      <img src="assets/image/img-colection/colection-content3-8.PNG">
    </div>
    <div class="mt-5 text-center">
      <img src="assets/image/img-colection/colection-content3-header-2.PNG" class="mt-5">
    </div>
    <div class="mt-5 text-center">
      <h1>THE ACCESSORIES</h1>
      <p>Signature styles and seasonal updates</p>
      <a class="m-2">THE RL50 HANDBAG</a>
      <a class="m-2">SHOP ALL ACCESSORIES</a>
    </div>
    <div class="container d-flex mt-5 text-center">
      <div class="col-6 mt-5">
        <img src="assets/image/img-colection/colection-content3-10.PNG">
        <p class="mt-4">THE STIRRUP WATCH</p>
        <a>SHOP NOW</a>
      </div>
      <div class="col-6">
        <img src="assets/image/img-colection/colection-content3-9.PNG">
        <p class="mt-4">EYEWEAR</p>
        <a>SHOP NOW</a>
      </div>
    </div>
  </div>

</div>
