<div class="outer container-fluid m-0 p-0">
  <div>
    <img src="assets/image/img-news/cover-img-news-1.png">
  </div>
  <div class="section d-flex pt-5 pb-5">
    <div class="w-50 mt-5 text-center">
      <img src="assets/image/img-news/img-news-1.PNG" class="mt-5">
    </div>
    <div class="w-50">
      <img src="assets/image/img-news/img-news-2.png">
    </div>
  </div>
  <div class="container">
    <div class="mt-5 p-4">
      <h4>Good evenning</h4>
      <p>Our top shopping recommendations for you</p>
    </div>
    <div class="d-flex">
      <div class="w-25 p-4">
        <img src="assets/image/img-news/img-news-3.PNG" class="w-100 mb-4">
        <a routerLink="/productmen" class="mt-4">Men’s Casual Shirts & Oxfords</a>
      </div>
      <div class="w-25 p-4">
        <img src="assets/image/img-news/img-news-4.PNG" class="w-100 mb-4">
        <a routerLink="/productmen" class="mt-4">Boys’ Sweatshirts</a>
      </div>
      <div class="w-25 p-4">
        <img src="assets/image/img-news/img-news-5.PNG" class="w-100 mb-4">
        <a routerLink="/productwomen" class="mt-4">Baby Girl</a>
      </div>
      <div class="w-25 p-4">
        <img src="assets/image/img-news/img-news-7.PNG" class="w-100 mb-4">
        <a routerLink="/productmen" class="mt-4">Boys’ Casual Shirts & Dress Shirts</a>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <img src="assets/image/img-news/cover-img-news-2.png">
  </div>
  <div class="container mt-5">
    <div class="text-center">
      <h1>More To Explore</h1>
    </div>
    <div class="d-flex mt-5 mb-5">
      <div class="text-center col-4">
        <img src="assets/image/img-news/img-news-8.PNG">
        <h4>COLECTION</h4>
        <a routerLink="/colection">SHOP NOW</a>
      </div>
      <div class="text-center col-4">
        <img src="assets/image/img-news/img-news-9.PNG">
        <h4>Men's Acessories</h4>
        <a routerLink="/productmen">SHOP NOW</a>
      </div>
      <div class="text-center col-4">
        <img src="assets/image/img-news/img-news-10.PNG">
        <h4>Purple Label</h4>
        <a routerLink="/productmen">SHOP NOW</a>
      </div>
    </div>
  </div>
</div>
