<div class="outer container-fluid m-0 p-0">
  <div class="container mt-5 text-center d-flex">
    <div class="col-6 mt-5" style="margin-top: 25vh !important;">
      <h1>PRE-SPRING 2021</h1>
      <p class="mt-5">
        Ralph Lauren’s latest collection embraces the need for ease. <br>
        From the perfect cashmere set to relaxed tailoring and <br>
        subtle evening shine in a soft, neutral palette, the new season <br>
        showcases an elegant approach to modern life. <br>
      </p>
      <a class="mt-5">SHOP THE COLECTION</a>
    </div>
    <div class="col-6">
      <img src="assets/image/img-colection/colection-content5-1.PNG">
    </div>
  </div>
  <div class="mt-5 text-center">
    <img src="assets/image/img-colection/colection-content5-header-1.PNG">
  </div>
  <div class="mt-5 container text-center">
    <h1>SOFT NEUTRALS</h1>
    <p>Sumptuous textures in a subdued palette of classic camel and soft greys</p>
    <div class="mt-5 text-center d-flex">
      <div class="col-6">
        <img src="assets/image/img-colection/colection-content5-2.PNG">
        <h4 class="mt-4">
          The Mouliné Cardigan
        </h4>
        <a>SHOP NOW</a>
      </div>
      <div class="col-6">
        <h4>CAMEL CLASSICS</h4>
        <img src="assets/image/img-colection/colection-content5-3.PNG" class="mt-3 mb-5"> <br>
        <a class="mt-5">CASHMERE HOODIE</a>
      </div>
    </div>
  </div>
  <div class="mt-5 text-center">
    <img src="assets/image/img-colection/colection-content5-header-2.PNG">
  </div>
  <div class="mt-5 text-center">
    <h1>RELAXED TAILORING</h1>
    <p>Sophisticated silhouettes tailored with an everyday ease</p>
    <div class="mt-5 text-center d-flex">
      <div class="col-3">
        <img src="assets/image/img-colection/colection-content5-4.PNG">
        <p class="mt-4">Libby Wool Twill Wrap Blouse</p>
      </div>
      <div class="col-3">
        <img src="assets/image/img-colection/colection-content5-5.PNG">
        <p class="mt-4">Corbin Wool Flannel Jacket</p>
      </div>
      <div class="col-3">
        <img src="assets/image/img-colection/colection-content5-6.PNG">
        <p class="mt-4">Astor Wool Flannel Jumpsuit</p>
      </div>
      <div class="col-3">
        <img src="assets/image/img-colection/colection-content5-7.PNG">
        <p class="mt-4">Wool-Cashmere Sweater</p>
      </div>
    </div>
  </div>
  <div class="mt-5 text-center">
    <img src="assets/image/img-colection/colection-content5-header-3.PNG">
  </div>
  <div class="mt-5 container text-center">
    <h1>SADDLE LEATHER</h1>
    <p>The Italian-crafted styles bring a rich contrast to the Collection’s softness</p>
    <a>SHOP NOW</a>
    <div class="mt-5 text-center d-flex">
      <div class="col-6">
        <img src="assets/image/img-colection/colection-content5-8.PNG">
        <h4 class="mt-4">
          THE ISABEL JACKET
        </h4>
        <a>SHOP NOW</a>
      </div>
      <div class="col-6">
        <img src="assets/image/img-colection/colection-content5-9.PNG" class="mt-5 mb-5"> <br>
        <a class="mt-5">Annalise Lambskin Shirtdress</a>
      </div>
    </div>
  </div>
  <div class="mt-5 text-center">
    <img src="assets/image/img-colection/colection-content5-header-4.PNG">
  </div>
</div>
