<div class="container-fluid m-0 p-0">
  <div class="w-100 d-flex">
      <div class="col-3">
        <ul>
          <li>
            <a routerLink="#">Ship to store</a>
          </li>
          <li>
            <a routerLink="#">Shipping</a>
          </li>
          <li>
            <a routerLink="#">Returns & exchanges</a>
          </li>
          <li>
            <a routerLink="#">Ordering & payment</a>
          </li>
          <li>
            <a routerLink="#">General</a>
          </li>
        </ul>
      </div>
    <div class="col-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

