.outer{
  background-image: url("../../../assets/image/img-home/cover-img-register-2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
form{
  margin-left: 200px;
  padding-top: 120px;
}
button{
  background-color: black !important;
  border: 1px solid white;
}
