<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top  " style="background-color: #131317 !important;">
  <a class="navbar-brand ml-5" routerLink="/home" style="margin-left: 20px">TH Clothing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse my-lg-0 m-3 " id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 col-10"  style="width: 80% !important;">
      <li class="nav-item">
        <a class="nav-link" routerLink="/news">NEWS<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/productmen">MEN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/productwomen">WOMEN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/colection">COLECTION</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 col-1" style="width: 20% !important;">
      <li class="nav-item" *ngIf="!checkMesage()">
        <a class="nav-link" routerLink="/login">LOGIN</a>
      </li>
      <li class="nav-item" *ngIf="!checkMesage()">
        <a class="nav-link ml-5" routerLink="/register">REGISTER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-5" routerLink="/cart">
          <i class="fa fa-cart-plus" aria-hidden="true" style="width: 90px; !important;"></i>
        </a>
      </li>
      <li class="nav-item" *ngIf="checkMesage()">
        <a class="nav-link ml-5" routerLink="/register" (click)="Sigout()">LOGOUT</a>
      </li>
      <li class="nav-item" *ngIf="checkMesage()">
        <a class="nav-link ml-5" routerLink="/infomation"> Update info</a>
      </li>
    </ul>
  </div>
</nav>
