<div class="container-fluid p-0">
  <div class="cover-img text-center">
    <div class="content-header">
      <h1>Natural Elegance</h1>
      <button class="btn">Shop now</button>
    </div>
  </div>
  <div class="sologan d-flex">
    <div class="w-50 text-center">
      <p class="w-75 text-center m-5">
        <i>
          “Thời trang không nhất thiết phải đến từ nhãn mác, thương hiệu. Thời trang đến từ những thứ ẩn bên trong tâm hồn, tính cách của bạn” – Ralph Lauren
        </i>
      </p>
    </div>
    <div class="w-50 text-center">
      <img src="../../../assets/image/img-home/sologan-img.PNG">
    </div>
  </div>
  <h1 class="w-100 text-center mt-5">NEW COLECTION</h1>
  <div class="colection w-100 d-flex col-12">
    <div class="colection-start col-4 text-center">
      <a routerLink="#">
        <img src="../../../assets/image/img-home/colection-img-home-1.PNG" width="300">
      </a>
    </div>
    <div class="colection-center col-4 text-center mt-5">
      <a routerLink="#">
        <img src="../../../assets/image/img-home/colection-img-home-2.PNG" width="300">
      </a>
    </div>
    <div class="colection-end col-4 text-center">
      <a routerLink="#">
        <img src="../../../assets/image/img-home/colection-img-home-3.PNG" width="300">
      </a>
      <p class="w-50 text-start mt-5">
        full sihoettes create eye-cathcing movement
      </p>
      <a routerLink="#">
        <button class="btn">Shop now</button>
      </a>
    </div>
  </div>
  <div class="most-popular container">
    <h1 class="w-100 text-center mt-5">MOST POPULAR</h1>
    <div class="most-popular-content d-flex">
      <div class="most-popular-text w-50 mt-5 text-center">
        <p class="w-75">
          A colection of Ralph Lauren's most iconic influences, from equestrian
          elegance to heritage classics
        </p>
        <a routerLink="#">
          <button class="btn mt-5">Shop now</button>
        </a>
      </div>
      <div class="most-popular-img w-50 text-center mt-5">
        <img src="../../../assets/image/img-home/most-popular-img.PNG" width="600">
      </div>
    </div>
  </div>
  <div class="about w-100 d-flex">
    <div class="about-img w-50 text-center">
      <img src="../../../assets/image/img-home/about-img.png">
    </div>
    <div class="about-content w-50 mt-5">
      <p class="text-center mt-5">
        <i>
          "The project is a redesign an online colthing store brand Ralph Lauren. Ralph Lauren Corporation
          is a world leader in the field of design, maketing and distribution of premium products.
          Over a period of more than 50 years, the company's reputation and distintive image have been
          steadily strengthened in the growing number of products, brancds and markets around the world"
        </i>
      </p>
    </div>
  </div>
  <div class="spring-summer container mt-5">
    <h1 class="w-100 text-center mt-5">SPRING / SUMMER 2021</h1>
    <div class="spring-summer-content d-flex mt-5">
      <div class="spring-summer-left text-center">
        <img src="../../../assets/image/img-home/spring-sumer-img-1.PNG" width="450">
        <img src="../../../assets/image/img-home/spring-sumer-img-3.PNG" width="450">
        <div class="spring-summer-text text-start">
          <h2>Bright shades of classics</h2>
          <p>
            Vibrant hues in tropical-weight classics. Reimagining traditional vacation-wear with tonal styling
          </p>
          <a routerLink="#" class="text-dark">
            Discover more key styles of the season
          </a>
        </div>
      </div>
      <div class="spring-summer-right text-center">
        <div class="spring-summer-text text-start">
          <h2>The Windbreacker</h2>
          <p>Water-reppellant and windproof, it's the perfect lighweight silhouette to take you into spring.</p>
          <a routerLink="#" class="text-dark">Explore the full collection</a>
        </div>
        <img src="../../../assets/image/img-home/spring-sumer-img-2.PNG" width="450">
        <img src="../../../assets/image/img-home/spring-sumer-img-4.PNG" width="450">
      </div>
    </div>
  </div>
  <div class="catalog w-100 container" >
    <h1 class="w-100 text-center mt-5">CATALOG</h1>
    <div class="catalog-content w-100 d-flex mt-5">
      <div class="w-50 h-100 text-center mt-5">
        <img src="../../../assets/image/img-home/women-home.png" width="500">
        <div class="catalog-item">
          <h3>DRESSES</h3>
          <p>Colection</p>
          <button class="btn btn-dark">WOMEN</button>
        </div>
      </div>
      <div class="w-50 text-center mt-5">
        <img src="../../../assets/image/img-home/men-home.png" width="500">
        <div class="catalog-item">
          <h3>POLO</h3>
          <p>Colection</p>
          <button class="btn btn-dark">MEN</button>
        </div>
      </div>
    </div>
  </div>
  <div class="subcribe text-center mt-5">
      <h1>Subscribe to get the latest updates</h1>
      <div class="d-inline">
        <label>Email:</label>
        <input type = "text" placeholder="Thaihoc2001@gmail.com">
        <button class="btn btn-dark" >Subscribe</button>
      </div>
  </div>
</div>
